.entriesRow {
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.questionsColumn, .affectsColumn, .directionsColumn, .numbersColumn {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.questionsColumn {
    flex-grow: 2;
}

.affectsColumn {
    flex-grow: 1;
}