.answerArea {
    padding: 10px 30px 10px 30px;
    display: flex;
    flex-direction: column;
    align-self: center;
    width: 75%;
}

.answerAreaMobile {
    width: 100%;
    display: flex;
    flex-direction: row;
    position: fixed;
    bottom: 0;
}
