.answerButton{
    font-size: 16px;
    padding:5px;
    border-style:none;
    border-width: thin;

    -webkit-user-select: none; /* Safari */        
    -moz-user-select: none; /* Firefox */
    user-select: none; /* Standard */


}