.Grid img{
    resize: 10%;
}
div.grid-area{
    background-size: cover;
    background-image: url(./compass4.jpg)!important;
    width:521px;
    height:537px;
    margin:auto;
    align-content: center;
}

@media (max-width:500px){
    div.grid-area{
   width:100%!important;
   margin: unset;
   padding:unset;
   height:unset;
   background-size: contain!important;
   background-repeat: no-repeat;

    }
    
    
}