.gridArea {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-size: 15px;
}
.verticalLabel {
    writing-mode: vertical-rl;
    text-orientation: upright;
}

@media screen and (max-width: 500px) {
    .gridArea {
        margin: auto;
        }
    
}