.Grid img{
    resize: 10%;
}

.grid-section {
    display: flex;
    flex-direction: column;
}

div.grid-area{
    background-size: cover;
    background-image: url(./compass4.jpg)!important;
    width:521px;
    height:537px;
    margin:unset;
    padding: unset;
    align-content: center;
}
