.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  width: 100%;
}

.overviewArea {
  display: flex;
  height: 100%;
  flex-direction: row;
  flex-wrap: wrap;
  padding-bottom: 10px;
  width: 100%;
  justify-content: space-around;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.qContainer{
  display: flex;
  align-content: center;
  justify-content: center;
  min-width: 300px;
}
@media (max-width:500px){
  .qContainer{
    padding:unset; 
  }
}
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
